.banner {
    display: flex;
    height: 600px;
    justify-content: space-between;
    align-items:flex-end;
   
}
.banner__container{
    width: 100%;
}

.banner__container-texto {
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    font-weight: 700;
    color: var(--branco);
    font-size: 1.5rem;
    
}
.banner__img {
    width: 200px;
    height: 200px;
    padding: 2rem;
    border-radius: 50%;
    box-sizing: border-box;
   
}