.diferencias{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-clara);
    border-top: 1px solid var(--branco);
    padding: .5rem 0;
}
.diferencias__itens{
    font-size: 10px;
    width: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin:.1rem 1rem;
    
}
.diferencias__itens-img{
    width: 16px;
}